<h1>KYB Application Approved</h1>
<p>Dear <%= @company.primary_contact_name %>,</p>
<p>We are pleased to inform you that your KYB application has been approved. You now have access to our platform.</p>
<p>If you have any questions, please feel free to contact us.</p>
<p>Best regards,</p>
<p>The Compliance Team</p>