<h1>KYB Application Rejected</h1>
<p>Dear <%= @company.primary_contact_name %>,</p>
<p>We regret to inform you that your KYB application has been rejected for the following reason(s):</p>
<p>- <%= @reason %></p>
<p>You are welcome to resubmit the required information after addressing the above issue(s).</p>
<p>If you have any questions, please feel free to contact us.</p>
<p>Best regards,</p>
<p>The Compliance Team</p>